################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WIndowsAutomationAPI/.vs/WIndowsAutomationAPI/v16/Server/sqlite3
